.header-section {
    text-align: center;
    padding-top: 40px;

    .title {
        .divisor {
            margin: 10px auto;
            height: 2px;
            width: 20px;
            background: #ccc;
        }
    
        h1 {
            font-size: 36px;
            font-weight: 500;
            line-height: 46px;
            color: #fff;
            margin: 0;
        }
    
        h3 {
            font-size: 18px;
            font-weight: 300;
            line-height: 28px;
            margin: 15px 0 0;
        }
    }
}

.header-description {
    text-align: center;
    margin: 40px 0;
    padding-bottom: 40px;
}